*{
    margin: 0;
    padding: 0;
}

body{
    background: #424141;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

/* CONTENEDOR PRINCIPAL */
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;/*tenia 4*/
    grid-template-rows: repeat(2, auto);/*tenia 3*/
    grid-template-areas: "nav"
                        "container-contenido";
    grid-gap: 20px;
}

/* MENU */
.nav{
    background: #fff;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: nav;
}

/* LOGO */
.logo{
    transform: rotate(140deg);
    border: #d8d3d3 solid;
}

.logo > a{
    font-size: 25px;
    color: #42d392;
}

/* LINKS */
.menu > a{
    margin: 20px;
    text-decoration: none;
    font-size: 1.25em;
    color: #647EFF;
}

a:hover{
    color: #42d392;
}

/* REDES SOCIALES */
.redes-sociales > ul > li{
    font-size: 1.25em;
    margin: auto;
    list-style: none;
    display: inline;
}

.redes-sociales ul li i.fa-linkedin{
    color: #0077b5;
}

.redes-sociales ul li i.fa-github{
    color: #171515;
}

.redes-sociales ul li i.fa-square-twitter{
    color: #00acee;
}

/* CONTENIDO */
.container-contenido{
    width: 90%;
    margin: auto;
    display: flex;
    align-content: center;
    grid-area: container-contenido;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "main main aside aside"
                        "footer footer footer footer";
    grid-gap: 20px;
}

.container .main{
    border: #e61e82 solid;
    text-align: center;   
    grid-area: main;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    
    /*display: grid;
    grid-template-rows: span 3;
    grid-template-rows: subgrid;*/
}

/*.container .main .center{
    border: #3f49cf solid;  
    display: flex;
    
    align-items: center;
    justify-content: center;
}*/

.container .main > p{
    border: #2af166 solid;
    font-size: 16px;
    display: flex;
    display: block;
    
}

.main > h2{
    border: #2af166 solid;
    display: flex;
    display: block;
    
    
}
.container .aside{
    background: #d8d3d3;
    border: #2af166 solid;
    grid-area: aside;
}

.container .footer{
    background: #3f49cf;
    border: #bcdb08 solid;
    grid-area: footer;
}

.container .footer > ul{
    list-style: none;  
}

.container .footer > div, span{
    border: #e61e82 solid;
}
