*{
    margin: 0;
    padding: 0;
}

body{
   
    background: #fafafa;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}

/* CONTENEDOR PRINCIPAL */
.container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;/*tenia 4*/
    grid-template-rows: repeat(2, auto);/*tenia 3*/
    grid-template-areas: "nav"
                        "container-contenido";
}

/* MENU */
.nav{
    background: #fff;
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: nav;
}

/* LOGO */
.logo{
    transform: rotate(140deg);
    border: #d8d3d3 solid;
}

.logo > a{
    font-size: 25px;
    color: #42d392;
}

/* LINKS */
.menu > a{
    margin: 20px;
    text-decoration: none;
    font-size: 1.25em;
    color: #647EFF;
}

a:hover{
    color: #42d392;
}

/* REDES SOCIALES */
.redes-sociales > ul > li{
    font-size: 1.25em;
    margin: auto;
    list-style: none;
    display: inline;
}

.redes-sociales ul li i.fa-linkedin{
    color: #0077b5;
}

.redes-sociales ul li i.fa-github{
    color: #171515;
}

.redes-sociales ul li i.fa-square-twitter{
    color: #00acee;
}

/* CONTENIDO */
.container-contenido{
    background: #424141;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    align-content: center;
    grid-area: container-contenido;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "main main aside aside"
                        "footer footer footer footer";
    grid-gap: 20px;
}
/*CONTENIDO DEL MAIM*/
.container-contenido .main{
    
    font-size: 1.5em;
    text-align: center;
    grid-area: main;
    align-self: center;
    
}

@keyframes colores {
    0% {background: linear-gradient(155deg,#42d392, #647eff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}

    100% {background: linear-gradient(135deg,#647eff, #42d392);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;}
}

.container-contenido .main > h2 {
    font-size: 2em;
    font-style: oblique;
    font-weight: bold;
    animation: colores 5s infinite;
}

/*CONTENIDO DEL ASIDE*/
.container-contenido .aside{
    grid-area: aside;
}

.container-contenido .aside > figure{
    display: flex;
}

.container-contenido .aside figure > img{
    display: block;
    margin: auto;
    overflow: hidden;
}

.container-contenido .footer{
   
    border: #bcdb08 solid;
    grid-area: footer;
}

.container .footer > ul{
    list-style: none;  
}

.container .footer > div, span{
    border: #e61e82 solid;
}
